extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  h1= title
  p Welcome to your Project Skeleton
  div 
    div.storyBoxWrapper
      div.storyBox
        h2 title 1
        p this is where the content will go test
      div.storyBox
        h2 title 2
        p this is where the content will go test
      div.storyBox
        h2 title 3
        p this is where the content will go test
      div.storyBox
        h2 title 4
        p this is where the content will go test
