extends landing-page-temp.pug 

block content
    #LandingPagecontainerDiv
        #landingPageAnimationDiv
            img(id="landingPageGif" src="/img/loading-gif.gif")
        script(src='/javascripts/redirect.js')