doctype html
html
  head
      block head
        title="Input"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/index.css')
        link(rel='stylesheet' href='/stylesheets/styles.css')
        link(rel='stylesheet' href='/stylesheets/button.css')
        link(rel='stylesheet' href='/stylesheets/tooltip.css')
        link(rel='stylesheet' href='/stylesheets/taehoon.css')
        link(rel='stylesheet' href='/stylesheets/test.css')
        link(rel='stylesheet' href='/stylesheets/typewriter.css')
        link(rel='stylesheet' href='/font-awesome-4.7.0/css/font-awesome.min.css')
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
        script(src='/javascripts/index.js')
        script(src="/javascripts/create_comment.js" type="module") 
        script(src="/javascripts/edit_comment.js" type="module") 
        script(src="/javascripts/delete_comment.js" type="module") 
        script(src="/javascripts/follows.js" type="module") 
        script(src="/javascripts/coin-comment.js" type="module") 
  body

    #layout
        #nav
            #menu-box
                #icon-box
                    img(id="nav-bar-icon" src='/img/icon.png')
                #menu-link-box
                    a(href="/stories" id="menu-link"): img(id="menu-icon1" src='/img/home.png')
                    a(href="#" id="menu-link"): img(id="menu-icon2" src='/img/bell.png')
                    a(href="/follows/feed" id="menu-link"): img(id="menu-icon3" src='/img/bookmark.png')
                    a(href="/stories/user" id="menu-link"): img(id="menu-icon4" src='/img/stories.png')
                    a(href="/stories/new"  id="menu-link"): img(id="menu-icon4" src='/img/write.png')
                #login-status-box
                    a(href="/users/register" id="menu-link"): img(id="menu-icon5" src='/img/loginicon.gif')
        #main
          #topBoxWrpper
          #content-box
            block content
        #mainside
            #side-content-box
              if locals.authenticated
                  p Welcome #{user.userName} !
                  form(action='/users/logout' method='post')
                    button.pushable
                      span.shadow
                      span.edge
                      span.front Logout
              else
                  p Not Logged In ?
                  a(href='/users/login')
                    button#submit-button Login
                  a(href='/users/login/demo')
                    button.pushable
                      span.shadow
                      span.edge
                      span.front Demo User
              div
                button#cancel-button B
                button#submit-button A
                button button1
                p some more stuff
                a(href='/test') 123
                a some links as well!
                button.pushable
                    span.shadow
                    span.edge
                    span.front B 
              #topicBox 
              #userProfileBox
                #userProfileBoxWrapper
        #extraside
            #side-content-box
                script(src="/javascripts/coinSound.js" type="module") 
                script(src="/javascripts/coin-story.js" type="module")