doctype html
html
  head
      block head
        title="Input"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/index.css')
        link(rel='stylesheet' href='/stylesheets/styles.css')
  body
    #layout
        #nav
            #menu-box
                #icon-box
                    img(id="nav-bar-icon" src='/img/icon.png')
                #menu-link-box
                    a(href="/" id="menu-link"): img(id="menu-icon" src='/img/home-selected.png')
                    a(href="#" id="menu-link"): img(id="menu-icon" src='/img/bell.png')
                    a(href="#" id="menu-link"): img(id="menu-icon" src='/img/bookmark.png')
                    a(href="#" id="menu-link"): img(id="menu-icon" src='/img/stories.png')
                    a(href="/stories/new"  id="menu-link"): img(id="menu-icon" src='/img/write.png')
                #login-status-box 
                    a(href="/" id="menu-link"): img(id="menu-icon" src='/img/home.png')
        #main
            #content-box
                block content
        #mainside
            #side-content-box
                p bunch of other stuff 
                button#cancel-button Cancel
                button#submit-button Submit
                button button1
                p some more stuff 
                a some links as well!
                a some links as well!