doctype html
html
  head
      block head
        title="Input"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/index.css')
        link(rel='stylesheet' href='/stylesheets/styles.css')
        link(rel='stylesheet' href='/stylesheets/button.css')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
        script(src='/javascripts/index.js')
  body

    #layout
        #nav
            #menu-box
                #icon-box
                    img(id="nav-bar-icon" src='/img/icon.png')
                #menu-link-box
                    a(href="/" id="menu-link"): img(id="menu-icon1" src='/img/home.png')
                    a(href="#" id="menu-link"): img(id="menu-icon2" src='/img/bell.png')
                    a(href="#" id="menu-link"): img(id="menu-icon3" src='/img/bookmark.png')
                    a(href="#" id="menu-link"): img(id="menu-icon4" src='/img/stories.png')
                    a(href="/stories/new"  id="menu-link"): img(id="menu-icon4" src='/img/write.png')
                #login-status-box
                    a(href="/users/register" id="menu-link"): img(id="menu-icon5" src='/img/home.png')
        #main
            #content-box
                block content
        #mainside
            #side-content-box
            if locals.authenticated
                p Welcome #{user.userName} !
                form(action='/users/logout' method='post')
                  button.pushable
                    span.shadow
                    span.edge
                    span.front Logout
            else
                p Not Logged In ?
                a(href='/users/login')
                  button#submit-button Login
            div
                button#cancel-button B
                button#submit-button A
                button button1
                p some more stuff
                a some links as well!
                a some links as well!
                button.pushable
                    span.shadow
                    span.edge
                    span.front B
