extends layout.pug 
include utils.pug 
block content
  h1= title
  .containerBoxWrapper
    .containerBox
      .headerBox 
        img(src='/img/usericon.png' width='100px')
        a(href='#') #{story.topicType}
      .storyContentBox
        h2=story.title
        p=story.content
        img(src='/img/storycontent.webp' width="300px")
      .editDelButtonBox 
        button.pushable
          span.shadow
          span.edge
          span.front 
            a(href='') Edit 
        button.pushable
          span.shadow
          span.edge
          span.front 
            a(href='') Delete
    .commentBoxWrapper
      .commentBox
        