extends layout.pug 
include utils.pug 

block content
  h1= title
  +validationErrorSummary(errors)
  form(action='/stories/new' method='post')
    input(type='hidden' name='_csrf' value=csrfToken)
    +field('Title', 'title', story.title)
    +field('Content', 'content', story.content, "textarea")
    +field('Topic', 'topicType', story.topicType)
    +field('Game', 'game', story.gameId)
    div(class='py-4')
      button(type='submit' id='submit-button') Write Story
      a(href='/' class='btn btn-warning ml-2') Cancel
