extends layout.pug 
include utils.pug 
block content 
    #container
        #top
            p#arcadeTopText='INPUT'
        #toptwo
        #mainContainer 
            #screenContainer
                .mario
        #controller
            div
                button.pushable
                    span.shadow
                    span.edge
                    span.front A
            div
                button.pushable
                    span.shadow
                    span.edge
                    span.front B        
        #bottom