extends layout.pug 
include utils.pug 

block content
    h1=title
    +validationErrorSummary(errors)
    form(action='' method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        +field('Email Address', 'email', email)
        +field('Password', 'password','','password')
        button(type='submit' class='submit-button') Log In
        a(href="/users/register") Don't have an account?