extends layout.pug 
include utils.pug 

block content
    #container
        #top
            p#arcadeTopText='INPUT'
        #toptwo
        #mainContainer 
            #screenContainer
                .loginBox
                    h1=title
                    +validationErrorSummary(errors)
                    form(action='' method='post')
                        input(type='hidden' name='_csrf' value=csrfToken)
                        +field('Email Address', 'email', email)
                        +field('Password', 'password','','password')
                        .loginbuttonbox
                            button#transparent-button
                                span.start-btn LOGIN      
                            a(href="/users/register")
                                span.start-btn REGISTER
                        .mario
        #controller
            div
                button.pushable
                    span.shadow
                    span.edge
                    span.front A
            div
                button.pushable
                    span.shadow
                    span.edge
                    span.front B        
        #bottom