extends layout.pug 
include utils.pug 

block content
    #container
        #top
            p#arcadeTopText='INPUT'
        #toptwo
        #mainContainer 
            #screenContainer
                .loginBox
                    .typewriter
                      h1(id="loginTitle")=title
                    +validationErrorSummary(errors)
                    form(action='' method='post')
                        input(type='hidden' name='_csrf' value=csrfToken)
                        #loginformBox
                            #loginField
                                #loginFieldLabel.typewriter
                                    p(id="logtext" for='email') Email Address
                                #loginFieldInput    
                                    input(type='text' id='loginEmailInput' name='email' value=email)
                            #loginField
                                #loginFieldLabel
                                    p(id="logtext" for='password') Password
                                #loginFieldInput
                                    input(type='password' id='loginPasswordInput' name='password' )
                            .loginbuttonbox
                                button#transparent-button
                                    span.start-btn LOGIN      
                                a(href="/users/register")
                                    span.start-btn REGISTER
                        .mario            
                        #yesButton
                            button.pushable
                                span.shadow
                                span.edgeY
                                span.frontY A
                        #noButton
                            button.pushable
                                span.shadow
                                span.edge
                                span.front#testButton 
                                 a(href="/users/register") B     
                            
        #controller      
        #bottom

        script(src="/javascripts/test.js" type="module") 