extends layout.pug 
include utils.pug 

block content
  h1= title
  +validationErrorSummary(errors)
  form(action='/user/register' method='post')
    input(type='hidden' name='_csrf' value=csrfToken)
    +field('Email Address', 'email', user.email)
    +field('Username', 'userName', user.userName)
    +field('First Name', 'firstName', user.firstName)
    +field('Last Name', 'lastName', user.lastName)
    +field('Password', 'password','','password')
    +field('Confirm Password', 'confirmPassword','','password')
    div(class='py-4')
      button(type='submit' id='submit-button') Create User
      a(href='/' class='') Already have an account?
