

h2 {
    font-size: 22px;
    font-weight: bolder;  
}

p {
    margin-left: 15px;
}


body {
    display: flex;
    justify-content: center;
}
#centeringDiv {
    display:flex;
    flex-direction: column;
    align-items: center;
}
#storyContentText {
    color: #afafaf;
    margin-left: 20px;
}

.custom-restricted-width {
    /* To limit the menu width to the content of the menu: */
    display: inline-block;
    /* Or set the width explicitly: */
    /* width: 10em; */
}
.storyBox {
    background-color: rgb(250, 250, 250);
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgb(216, 216, 216);
    
    margin: 20px 0 20px 0;
    width: 700px;
}
.storyBoxWrapper {
    display: flex;
    justify-content: center;
    width:800px;
}

.bodyWrapper {
    display: flex;
    flex-direction: column;
}

.storyBoxHeader  {
 display:flex;
 justify-content: space-between;
 align-items: center;
 padding: 0 20px 0 20px;
 border-radius: 10px 10px 0 0 ;
 background-color: #e4000f;
 color: white;
 font-weight: bolder;
 font-family: 'Poor Story', cursive;
 height: 50px;
}

.storyBoxContentTextBox {
    font-family: 'Poor Story', cursive;
    overflow: hidden;
    margin-right: 15px;

}

.storyBoxContentTextBox > h2 {
    padding: 10px 0 0 40px;
}
.storyBoxHeaderProfile  {
    display:flex;
    align-items: center;
    font-size: 13px;
   }
   

.storyBoxContent {
    display: flex;
    justify-content: space-between;
}

.storyBoxContentImgBox {
    width: 140px;
    height: 140px;
    border: solid white 2px;
    box-shadow: 5px 5px 2px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px 15px 0;
}

.storyBoxFooter  {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

#userNameText {
    font-size: 30px;
    font-weight: bolder;
}

#storyWrittenDate {
    margin-top:25px;
    color: rgb(209, 209, 209);
    font-size: 18px;
    font-weight: bolder;
}

#loginLink {
    color: black;
}

#loginIndicator {
    font-size: 30px;
}

#welcomMessage {
    font-family: "Press start 2P", cursive;
}