

h1 {
    color: #555555;
    padding-left: 30px;
    
}

h2 {
    font-size: 22px;
    font-weight: bolder;  
}

p {
    margin-left: 15px;
}

#storyContentText {
    color: #afafaf;
}

.custom-restricted-width {
    /* To limit the menu width to the content of the menu: */
    display: inline-block;
    /* Or set the width explicitly: */
    /* width: 10em; */
}
.storyBox {
    background-color: rgb(250, 250, 250);
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgb(216, 216, 216);
    padding: 0px 25px 0px 25px;
    margin: 20px 0 20px 0;
    width: 95%;
}
.storyBoxWrapper {
    width: 80%;
    overflow: hidden;
    margin-left: 50px;
}

.bodyWrapper {
    display: flex;
    flex-direction: column;
}

.storyBoxHeader  {
 display:flex;
 justify-content: space-between;
 padding-top: 20px;
}

.storyBoxHeaderProfile  {
    display:flex;
    align-items: center;
    font-size: 13px;
   }
   

.storyBoxContent {
    display: flex;
}

.storyBoxContentImgBox {
    width: 140px;
    height: 140px;
    border: solid white 2px;
    box-shadow: 5px 5px 2px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.storyBoxFooter  {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

#userNameText {
    font-size: 17px;
}