#main{
    display:flex;
    flex-direction:column;
}

#topBoxWrpper{
    display: flex;
    justify-content: start;
}
.topProfileDetailBox{
}

.topProfileMain{

}

.commentExtra{
    display:flex;
    flex-direction:row;
}
.cECoin{
    display:flex;
    flex-direction:row;
    justify-content: start;
}
.cECoinImg.coin-btn{
    width:100px;
    cursor: grab;
}

.followBtn {
    background: blue;
    border: none;
    padding: 5px 10px;
    color: whitesmoke;
    width: 60px;
    border-radius: 5px;
    transition: all .3s ease-in;
    font-size: 10px;
}
  
.followBtn:active {
    outline: none;
}
  
.followBtn:visited {
    outline: none;
}
  
.unfollow {
    background: red;
    color: white;
}
