#main{
    display:flex;
    flex-direction:column;
}

#topBoxWrpper{
    display: flex;
    justify-content: start;
}
.topProfileDetailBox{
}

.topProfileMain{

}

.commentExtra{
    display:flex;
    flex-direction:row;
}
.cECoin{
    display:flex;
    flex-direction:row;
    justify-content: start;
}
.cECoinImg.coin-btn{
    width:100px;
    cursor: grab;
}
